.Slider {
  position: fixed;
  top: 0;
  border: 0;
  width: 500px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 15px #7B7A7A;
  right: -500px;
  transition-delay: 1s;
  transition: right 400ms ease-in-out;
}

.Slider.Open {
  right: 0;
}

.Slider > div:first-child {

}
.Slider > div:last-child {
  overflow: auto;
  height: calc(100vh - 125px);
}
.Slider > div:first-child img {
  width: 100%;
  object-fit: contain;
}
.Slider > div:last-child img {
  width: 100%;
  object-fit: contain;
}
