
.Wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.Content {
  flex-grow: 1;
}
.Body {
  padding: 24px;
}
.TabComponent {

}

.Tabs {
  display: flex;
  padding-left: 16px;
}
.Tab {
  border: 1px solid #B5E2FA;
  border-bottom-color: transparent;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background: #B5E2FA;
  margin: 0 2px;
  color: #666;
  cursor: pointer;
}
.Tab.nopad{
  padding: 0;
}
.Tab img + * {
  margin-left: 10px;
}
.TabContent {
  border: 1px solid #B5E2FA;
  border-radius: 10px;
  overflow: hidden;
}

.Tab.Active {
  margin-bottom: -1px;
  background: #fff;
}


.search-tab {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
.search-result {
  width: 100%;
  object-fit: contain;
}


.result-count {
  padding: 0 12px;
}
.result-count-dist {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
.result-count-dist span + img {
  margin-left: 24px;
}
